<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.dumtoad.srednow7" >

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_w7"
        android:label="@string/app_name"
        android:theme="@style/Theme.7w" >
        <activity
            android:name="net.dumtoad.srednow7.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5a5717be1122c33d557a526a28c4398e297c5825" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
